<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Edit User</h6>
  <div class="media text-muted pt-3">
      <!-- <button style="margin-left:10px;" [routerLink]="['/adminmenu/','addcompany']" type="button" class="btn btn-primary">Add User</button>  -->
       
  </div>
  <div class="media text-muted pt-4">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" >
          <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="inputUserName">User Name</label>
              <div class="col-sm-7">
                  <input type="hidden" class="form-control" formControlName="id" placeholder="Enter title">
                  <input required type="text" class="form-control" id="inputUserName" formControlName="username" >
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label" for="inputPassWord">Pass Word</label>
                <div class="col-sm-7">
                <input required type="password" class="form-control" id="inputPassWord" formControlName="password" >
                 </div> 
              </div>
              <div class="form-group row">
                  <label  class="col-sm-5 col-form-label" for="inputUserType">User Type</label>
                  <div class="col-sm-7">
                  <input required type="text" class="form-control" id="inputUserType" formControlName="usertype" >
              </div>  
              </div>
                <div class="form-group row">
                    <label  class="col-sm-5 col-form-label" for="inputEmail">Email</label>
                    <div class="col-sm-7">
                    <input required type="text" class="form-control" id="inputEmail" formControlName="email" >
                  </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-5 col-form-label" for="inputMobileNumber">Mobile Number</label>
                    <div class="col-sm-7">
                    <input required type="text" class="form-control" id="inputMobileNumber" formControlName="mobilenumber" >
                  </div>
                </div>
                  <!-- <div class="form-group row">
                      <label  class="col-sm-7 col-form-label" for="inputIPODate">IPO Date</label>
                      <div class="col-sm-5">
                      <input required type="date" class="form-control" id="inputIPODate" formControlName="ipodate" >
                    </div>
                    </div> -->
           
         
          <button type="submit" class="btn btn-primary">Submit</button>
          <!-- <button type="button" [routerLink]="['/']" style="margin-left: 20px;" class="btn btn-primary">Back</button> -->
        </form>
  </div>
</div>