<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Edit Company</h6>
  <div class="media text-muted pt-3">
      <!-- <button style="margin-left:10px;" [routerLink]="['/adminmenu/','addcompany']" type="button" class="btn btn-primary">Add User</button>  -->
       
  </div>
  <div class="media text-muted pt-4">
      <form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm.value)" >
          <div class="form-group row">
              <label class="col-sm-7 col-form-label" for="inputCompanyName">Company Name</label>
              <div class="col-sm-5">
                  <input type="hidden" class="form-control" formControlName="id" placeholder="Enter title">
                  <input required type="text" class="form-control" id="inputCompanyName" formControlName="companyname" >
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-7 col-form-label" for="inputCEOName">CEO Name & Board Members</label>
                <div class="col-sm-5">
                <input required type="text" class="form-control" id="inputCEOName" formControlName="ceoname" >
                 </div> 
              </div>
              <div class="form-group row">
                  <label  class="col-sm-7 col-form-label" for="inputTurnOver">TurnOver</label>
                  <div class="col-sm-5">
                  <input required type="text" class="form-control" id="inputTurnOver" formControlName="turnover" >
              </div>  
              </div>
                <div class="form-group row">
                    <label  class="col-sm-7 col-form-label" for="inputBriefDescription">Brief Description</label>
                    <div class="col-sm-5">
                    <input required type="text" class="form-control" id="inputBriefDescription" formControlName="briefdescription" >
                  </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-7 col-form-label" for="inputStockCode">Stock Code</label>
                    <div class="col-sm-5">
                    <input required type="text" class="form-control" id="inputStockCode" formControlName="stockcode" >
                  </div>
                </div>
                  <!-- <div class="form-group row">
                      <label  class="col-sm-7 col-form-label" for="inputIPODate">IPO Date</label>
                      <div class="col-sm-5">
                      <input required type="date" class="form-control" id="inputIPODate" formControlName="ipodate" >
                    </div>
                    </div> -->
           
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>