<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" [routerLink]="['/adminmenu/']">Stock Market</a>
    <button class="navbar-toggler p-0 border-0" type="button" (click)="changeMenu()" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/usermenu/','ipolist']">IPOs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Compare Company</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Compare Sectors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/usermenu/','edituser']">Edit User</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" >other</a>
              </li>    -->
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0"  [routerLink]="['']"type="button">Logout</button>
    </div>
  </nav>
  <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
   
        </div>
      
          <router-outlet ></router-outlet>
  
      <!-- <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
          <img class="mr-3" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
            <small>Since 2011</small>
          </div>
        </div> -->
   
  </main>
  